extends app

block card
  section.flashcards
    .card(class=`card-${sideToShowDisplay}`)
      .card-header
      h1.card-title= side
      #content
        h2= text
        if hint
          p.hint
            i= hint
      .card-flip-wrap
        a(href=`${id}?side=${sideToShow}`)
          img.card-flip(src='../img/flip.svg')
      .card-next
        a(href='/cards')
          img(src='../img/next.svg')
