extends app

block card
  section.flashcards
    .card(class=`card-${sideToShow}`)
      .card-header
      h1.card-title= sideToShowDisplay
      #content
        h2= text
        p.hint
          i Hint: It starts with an "s"
      .card-flip-wrap
        a(href=`${id}?side=${sideToShow}`)
          img.card-flip(src='../img/flip.svg')
      .card-next
        a(href='/cards')
          img(src='../img/next.svg')
